# FTDI interface configuration for AI RISC-V KC32 System

adapter_khz     1000

interface ftdi
ftdi_vid_pid 0x0403 0x6011
ftdi_device_desc "FT4232H Device"

transport select jtag

ftdi_layout_init 0x0008 0x001b
ftdi_layout_signal nSRST -oe 0x0020 -data 0x0020
ftdi_layout_signal TCK -data 0x0001
ftdi_layout_signal TDI -data 0x0002
ftdi_layout_signal TDO -input 0x0004
ftdi_layout_signal TMS -data 0x0008
ftdi_layout_signal JTAG_SEL -data 0x0100 -oe 0x0100

